body {
  color: #000;
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #10c9c3;
  transition: all 0.3s ease;
}
.menu {
  padding-top: 25px;
}
.menu_link {
  font-weight: 700;
  margin-right: 10px;
  font-size: 13px;
}
